<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="true" />
    <rewrite>
      <rules>
        <rule name="CRC v2 WebSocket broker" stopProcessing="true">
          <match url="^crc/v2/(.*)$" />
          <action type="Rewrite" url="http://127.0.0.1:7590/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
