<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>RMC-MLCCS</string>
	<key>CFBundleExecutable</key>
	<string>RMC-MLCCS</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>ca.lixinchen.rmc-mlccs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>RMC-MLCCS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
    <string>0.2.0</string>
	<key>CFBundleVersion</key>
    <string>2</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>RMC-MLCCS 可能需要通过系统自动化完成经授权的远程管理任务。</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>RMC-MLCCS 的截图工具需要屏幕录制权限。</string>
	<key>NSHumanReadableCopyright</key>
	<string>Private MLCCS utility.</string>
</dict>
</plist>
